.aside .logo a::before{
    border-top: 4px solid #FFC107;
    border-left: 4px solid #FFC107;
}
.aside .logo a::after{
    border-bottom: 4px solid #FFC107;
    border-right: 4px solid #FFC107;
}

.contact .contact-info-item .icon .fa,
.blog .blog-item-inner .blog-info .blog-tags a,
.lightbox .lightbox-controls .prev-item .fa,
.lightbox .lightbox-controls .next-item .fa,
body.dark .portfolio .portfolio-filter button.active,
.portfolio .portfolio-filter button.active,
.certificate .certificate-item .certificate-item-inner .icon .fa,
.about .about-content .about-text h3 span,
body.dark .aside .nav li a:hover,
body.dark .aside .nav li a.active,
.aside .nav li a:hover,
.aside .nav li a.active{
    color: #FFC107;
}

.blog .blog-item-inner .blog-img .blog-date,
.about .about-content .timeline .circle-dot,
.about .about-content .timeline .timeline-item::before,
.about .about-content .skills .skill-item .progress .progress-in,
.btn,
.section-title h2::after,
.section-title h2::before,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-links a{
    background-color: #FFC107;
}

.portfolio .portfolio-filter button.active{
    border-color: #FFC107;
}

